name: Android Kotlin Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Установка JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Дать права на запуск gradlew
        run: chmod +x ./gradlew

      - name: Сборка APK
        run: ./gradlew assembleDebug

      - name: Загрузка артефакта (APK)
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/*.apk