name: Kotlin Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Установка JDK (нужен для Kotlin)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Установка Kotlin
        run: |
          curl -s https://get.sdkman.io | bash
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin

      - name: Проверка Kotlin
        run: kotlinc -version